# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Virtual environment
venv/
.env/
.envrc
.Pipfile.lock

# Data files
*.csv
*.pkl

# Streamlit
.streamlit/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# logs
*.log
